@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Общие стили */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    color: #b8b8b8;
    line-height: 1.8;
}

.hide {
    display: none !important;
}

.title-wrapper {
    margin-bottom: 60px;
}


.title {
    margin-bottom: 17px;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
}

.subtitle {
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
}

.common-section {
    text-align: center;
    padding: 80px 0;
}

.common-section--dark {
    background-color: rgb(9, 16, 24);
}

.common-section--dark * {
    color: #fff;
}

.common-section--dark .subtitle {
    color: #b8b8b8;
}

section+section {
    box-shadow: 0px 0px 5px #858585;
}

/* ------------ HEADER ------------ */
.header {
    padding: 10px 0;
    width: 100%;
    background-color: #212324fb;
    box-shadow: 0px 0px 8px #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    line-height: 1px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #69B9FF;
}

.header__nav ul {
    display: flex;
}

.header__nav li+li {
    margin-left: 40px;
}

.header__nav li {
    padding: 3px;

}

.header__nav a {
    color: #ffffff;
    font-size: 16px;
    transition: color 0.2s;
}

.header__nav a:hover {
    color: #00E0FF;
}

.header__nav a:active {
    color: #00AFC6;
}

/* ------------ WELCOME ------------ */

.welcome {
    min-height: 600px;
    height: 100vh;
    padding: 195px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    background-color: #212324fb;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
}

.welcome__heading {
    margin-bottom: 100px;
    font-size: 59px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.welcome__links>*+* {
    margin-left: 20px;
}

.link-primary {
    display: inline-block;
    padding: 11px 30px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #3F8790;
    border-radius: 4px;
    transition: background-color 0.1s;
}

.link-primary:hover {
    background-color: #499DA8;
}

.link-primary:active {
    background-color: #316970;
}


.link {
    display: inline-block;
    padding: 10px 30px;
    font-style: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: border-color 0.1s, background-color 0.1s;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5)
}

.link:active {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.5)
}

/* ------------ ABOUT (WHAT WE DO) ------------ */

.about {
    background-image: url(../img/bgabout.png);
    background-size: cover;
    background-position: center;

}

.about .cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about .card {
    padding: 35px 15px 25px 15px;
    max-width: 300px;
    border: 1px solid #b8b8b8;
    border-radius: 10px;
}

.about .card img {
    margin-bottom: 20px;
    width: 94px;
    height: 94px;
    object-fit: contain;
}

.about .card h4 {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #9F885C;
}

/* ------------ SERVICES (WHAT WE DO) ------------ */
.services .cards-wrapper {
    display: flex;
    justify-content: space-between;
}

.services .card {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.services .card p {
    flex: 1 1 auto;
}

.services .card img {
    margin-bottom: 20px;
    border-radius: 10px;
}

.services .card h4 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.services .link {
    margin: 15px 10px;
}

/* ------------ TABS SECTION ------------ */

.tab-section {
    background-color: rgb(9, 16, 24)
}

.tabs__nav {
    margin-bottom: 50px;
}

.tabs__nav button {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
    background-color: #858585;
    border-radius: 4px;
    padding: 0 30px;
}

.tabs__nav button.active {
    background-color: #00AFC6;
}

.tabs__nav button+button {
    margin-left: 15px;
}

.tabs__item {
    animation: fade 1s;
}

@keyframes fade {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

.tabs__item img {
    margin-bottom: 15px;
    width: 870px;
    height: 540px;
}

.tabs__item h4 {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 36px;
    color: #9F885C;
}

.tabs__desc {
    max-width: 720px;
    margin: 0 auto;
}

/* ------------ FOOTER ------------ */


.footer {
    background-color: #212324fb;
}

.footer__desc {
    padding: 35px 0;
}

.footer__desc h4 {
    color: #9F885C;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer__desc-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px 40px;
}

.footer__desc-container>* {
    width: 30%;
    min-width: 260px;
}

.footer__desc a {
    font-size: 13px;
    line-height: 20px;
}

.footer__desc li {
    color: #3F8790;
    height: 30px;
    position: relative;
}

.footer__desc li::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #858585;
}

.footer__desc li+li {
    margin-top: 6px;
}

.footer__social li::before {
    width: calc(100% - 40px);
}

.footer__social img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-right: 10px;
}

.footer__copy {
    padding: 20px 0;
    text-align: center;
}

.footer__copy p {
    color: #b8b8b8;
}

/* NEW HTML */

.news h2 {
    font-size: 46px;
    margin-bottom: 40px;
}

.news__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.news__box {
    width: 31%;
    height: 31%;
    border: 1px solid #858585;
    box-shadow: 1px 1px 5px 1px #00E0FF;
    border-radius: 10px;
    background-color: #69b9ff0c;
    flex: 1 1 auto;
}

.news__image {
    width: 100%;
    height: 95%;
    border-radius: 10px;
    filter: grayscale(100%);
}

.news__image:hover {
    filter: contrast()
}

.news__text {
    padding: 10px 10px;
}

/* End of news */

/* Login.html */

.logistr {
    background-image: url(/img/elf.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.logistr__cont {
    display: flex;
    justify-content: space-evenly;

}

.logistr__form {
    border: 1px solid #858585;
    box-shadow: 1px 1px 5px 1px #00E0FF;
    border-radius: 10px;
    background-color: #316970d0;
    padding: 10px;
    margin: 30% auto;
}

.logistr__form input:not(.logbtn) {
    height: 11%;
    box-shadow: 0px 0px 3px #fff;
    padding-left: 5px;
    padding-bottom: 3px;
    color: #000;
}

.logbtn {
    margin-top: 20px;
}

/* User page */

/* gift */
.user {
    background-image: url(/img/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
}

.gift {
    margin-top: 20px;
}

.gift__header h2 {
    font-size: 36px;
}

.gift__block {
    width: 30%;
    padding: 10px 0px;
    border-top: 4px solid #023036;
    border-radius: 1em;
    box-shadow: 0px 3px 8px 1px #00E0FF;
    height: fit-content;
    margin: 20px auto;
    background-color: #316970ec;

}

.gift__item-price p {
    color: #9F885C;
}

.gift__item-bonus {
    margin: 10px 10px;
    background-color: #316970ec;
    border-radius: 0.5em;
}

.gift__item-bonus-img {
    padding: 2px 8px 2px 1px;
    background-color: #69b9ff1e;
    border-radius: 0.5em;
}

.gift__item-bonus-img img {
    min-width: 40px;
    min-height: 40px;
    border-radius: 0.5em;
}

.gift__item-bonus-name {
    font-size: 14px;
    padding-left: 10px;
    width: 100%;
    text-align: left;
}

.f-c {
    display: flex;
    justify-content: center;
}

/* end of gift */
/* End of user page */
/* End of login */
/* Медия */

@media (max-width: 890px) {
    .footer__desc-container {
        justify-content: space-evenly;
    }

    .footer__desc h4 {
        margin-bottom: 15px;
    }
}

@media (max-width: 750px) {
    .services .cards-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .services .card {
        width: 80%;
    }

    .services .card p {
        font-size: 16px;
    }

    .common-section {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    /*Кнопка */

    .menu-btn {
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }

    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        transition: all 0.5s;
    }

    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }

    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    /* Меняем гамбургер иконку, когда меню открыто */
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }

    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }

    /* Меню, которое будет появляться */
    .header__nav {
        position: fixed;
        top: 0;
        right: 0;

        padding: 15px 35px 15px 15px;
        transform: translateX(200%);
        transition: transform 0.3s;
    }

    .header__nav.active {
        transform: translateX(0);
        background-color: #212324ef;
    }

    .header__nav ul {
        flex-direction: column;
    }

    .header__nav li+li {
        margin-left: 0;
    }

    .header__nav li {
        list-style-type: none;
    }

    .news__box {
        width: 45%;
    }

    .news {
        padding-top: 70px;
    }

    /* user gift*/
    .gift {
        flex-direction: column;
    }

    .gift__header h2 {
        font-size: 24px;
    }

    .gift__block {
        width: fit-content;
    }
}

@media (max-width: 625px) {
    .tabs__nav button {
        display: block;
        margin: 0 auto;
        padding: 10px 30px;
    }

    .tabs__nav button+button {
        margin-top: 10px;
        margin-left: auto;
    }
}


@media (max-width: 500px) {

    .welcome__heading {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .welcome__links a {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .welcome__links>*+* {
        margin-top: 20px;
    }

    body {
        font-size: 14px;
    }

    .about .card h4 {
        font-size: 16px;
    }

    .services .card p {
        font-size: 14px;
    }

    .services .card h4 {
        font-size: 16px;
    }

    .title-wrapper {
        margin-bottom: 40px;
    }

    .tabs__nav {
        margin-bottom: 30px;
    }

    .tabs__item h4 {
        font-size: 24px;
    }

    .header__nav a {
        font-size: 14px;
    }

    .news__box {
        width: 80%;
    }
}

@media (max-width: 415px) {
    .heaver__nav a {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 22px;
    }

    .subtitle {
        font-size: 14px;
    }

    .title-wrapper {
        margin-bottom: 30px;
    }

    .tabs__item h4 {
        font-size: 18px;
    }

    .news__box {
        width: 90%;
    }
}